2captcha-python==1.1.3
absl-py==0.15.0
aiohttp==3.7.4.post0
aix360==0.1.0
anki==2.1.49
appdirs==1.4.4
appnope==0.1.2
aqt==2.1.49
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==0.14.7
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.7
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
bitarray==1.2.2
bitstring==3.1.9
black==20.8b1
blake2b-py==0.1.3
bleach==5.0.0
blur-clip-board-image-cli==0.0.4
boto==2.49.0
Box2D==2.3.10
box2d-py==2.3.8
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
cachetools==5.0.0
calmap==0.0.9
certifi==2022.12.7
cffi==1.14.6
cGraph==0.1
chardet==4.0.0
chess==1.8.0
ciso8601==2.1.3
cl-chess==1.2.7
clang==5.0
click==8.1.3
cloudpickle==1.6.0
colorama==0.4.4
colour==0.1.5
Colr==0.9.1
crcmod==1.7
cryptography==3.4.7
cvxopt==1.2.7
cvxpy==1.1.18
cycler==0.10.0
cytoolz==0.11.0
dash==1.20.0
dash-bootstrap-components==0.12.2
dash-core-components==1.16.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dask==2021.12.0
DateTime==4.3
debugpy==1.6.0
decorator==5.1.0
defusedxml==0.7.1
Django==3.0.7
django-livereload-server==0.4
django-markdownify==0.9.2
dnspython==2.1.0
docopt==0.6.2
docx==0.2.4
EasyProcess==0.3
ecdsa==0.17.0
ecos==2.0.10
email-validator==1.1.3
entrypoints==0.4
esptool==3.1
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.5
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b3
eth-typing==2.2.2
eth-utils==1.9.5
exceptiongroup==1.1.0
Faker==13.3.0
fasteners==0.16.3
fastjsonschema==2.15.3
fhir.resources==6.1.0
fhirclient==4.0.0
fhirpy==1.2.1
filelock==3.8.0
Flask==2.1.0
Flask-Compress==1.10.1
Flask-Cors==3.0.10
flatbuffers==1.12
freegames==2.4.0
fsspec==2021.11.1
future==0.18.2
futures==3.1.0
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
google-apitools==0.5.32
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
goslate==1.5.1
graphviz==0.20.1
greenlet==1.1.1
grpcio==1.44.0
gsutil==5.5
gunicorn==20.1.0
gviz-api==1.9.0
gym==0.21.0
h11==0.14.0
h5py==3.1.0
hexbytes==0.2.1
httplib2==0.20.2
huggingface-hub==0.9.1
icalendar==4.0.9
icalevents==0.1.25
ics==0.7
idna==2.10
image==1.5.33
imageio==2.15.0
IMDbPY==2021.4.18
importlib-metadata==4.11.1
imutils==0.5.4
install==1.3.5
ipfshttpclient==0.7.0
ipykernel==6.13.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
isodate==0.6.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonlines==3.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.3.1
libclang==13.0.0
locket==0.2.1
lru-dict==1.1.7
lxml==4.6.3
Markdown==3.3.6
markdownify==0.11.6
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
mistune==0.8.4
monotonic==1.6
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==5.1.0
mypy==0.991
mypy-extensions==0.4.3
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netaddr==0.8.0
netifaces==0.11.0
networkx==2.7
nltk==3.7
notebook==6.4.11
numpy==1.19.5
nxv==0.1.3
oauth2client==4.1.3
oauthlib==3.2.0
openai==0.23.1
opencv-python==4.5.1.48
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.5
osqp==0.6.2.post5
outcome==1.2.0
packaging==21.3
pandas==1.3.5
pandas-stubs==1.5.0.220926
pandocfilters==1.5.0
paramiko==2.10.2
parsimonious==0.8.1
parso==0.8.3
partd==1.2.0
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.10
plotly==4.14.3
pretty-errors==1.2.22
prometheus-client==0.14.1
prompt-toolkit==3.0.24
protobuf==4.21.12
psutil==5.9.1
ptyprocess==0.7.0
py-ecc==4.1.0
py-evm==0.3.0a20
py-geth==2.4.0
py-solc==3.2.0
py-solc-x==1.1.0
py2exe==0.9.2.2
pyanybar==0.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
PyBluez==0.23
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.8.2
PyDictionary==2.0.1
pydot==1.4.2
pyethash==0.1.27
pyfiglet==0.8.post1
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.10.0
pygooglechart==0.4.0
pygraphviz==1.10
pyjokes==0.6.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynput==1.7.6
pyobjc==8.1
pyobjc-core==8.1
pyobjc-framework-Accessibility==8.1
pyobjc-framework-Accounts==8.1
pyobjc-framework-AddressBook==8.1
pyobjc-framework-AdServices==8.1
pyobjc-framework-AdSupport==8.1
pyobjc-framework-AppleScriptKit==8.1
pyobjc-framework-AppleScriptObjC==8.1
pyobjc-framework-ApplicationServices==8.1
pyobjc-framework-AppTrackingTransparency==8.1
pyobjc-framework-AudioVideoBridging==8.1
pyobjc-framework-AuthenticationServices==8.1
pyobjc-framework-AutomaticAssessmentConfiguration==8.1
pyobjc-framework-Automator==8.1
pyobjc-framework-AVFoundation==8.1
pyobjc-framework-AVKit==8.1
pyobjc-framework-BusinessChat==8.1
pyobjc-framework-CalendarStore==8.1
pyobjc-framework-CallKit==8.1
pyobjc-framework-CFNetwork==8.1
pyobjc-framework-ClassKit==8.1
pyobjc-framework-CloudKit==8.1
pyobjc-framework-Cocoa==8.1
pyobjc-framework-Collaboration==8.1
pyobjc-framework-ColorSync==8.1
pyobjc-framework-Contacts==8.1
pyobjc-framework-ContactsUI==8.1
pyobjc-framework-CoreAudio==8.1
pyobjc-framework-CoreAudioKit==8.1
pyobjc-framework-CoreBluetooth==8.1
pyobjc-framework-CoreData==8.1
pyobjc-framework-CoreHaptics==8.1
pyobjc-framework-CoreLocation==8.1
pyobjc-framework-CoreMedia==8.1
pyobjc-framework-CoreMediaIO==8.1
pyobjc-framework-CoreMIDI==8.1
pyobjc-framework-CoreML==8.1
pyobjc-framework-CoreMotion==8.1
pyobjc-framework-CoreServices==8.1
pyobjc-framework-CoreSpotlight==8.1
pyobjc-framework-CoreText==8.1
pyobjc-framework-CoreWLAN==8.1
pyobjc-framework-CryptoTokenKit==8.1
pyobjc-framework-DataDetection==8.1
pyobjc-framework-DeviceCheck==8.1
pyobjc-framework-DictionaryServices==8.1
pyobjc-framework-DiscRecording==8.1
pyobjc-framework-DiscRecordingUI==8.1
pyobjc-framework-DiskArbitration==8.1
pyobjc-framework-DVDPlayback==8.1
pyobjc-framework-EventKit==8.1
pyobjc-framework-ExceptionHandling==8.1
pyobjc-framework-ExecutionPolicy==8.1
pyobjc-framework-ExternalAccessory==8.1
pyobjc-framework-FileProvider==8.1
pyobjc-framework-FileProviderUI==8.1
pyobjc-framework-FinderSync==8.1
pyobjc-framework-FSEvents==8.1
pyobjc-framework-GameCenter==8.1
pyobjc-framework-GameController==8.1
pyobjc-framework-GameKit==8.1
pyobjc-framework-GameplayKit==8.1
pyobjc-framework-ImageCaptureCore==8.1
pyobjc-framework-IMServicePlugIn==8.1
pyobjc-framework-InputMethodKit==8.1
pyobjc-framework-InstallerPlugins==8.1
pyobjc-framework-InstantMessage==8.1
pyobjc-framework-Intents==8.1
pyobjc-framework-IntentsUI==8.1
pyobjc-framework-IOSurface==8.1
pyobjc-framework-iTunesLibrary==8.1
pyobjc-framework-KernelManagement==8.1
pyobjc-framework-LatentSemanticMapping==8.1
pyobjc-framework-LaunchServices==8.1
pyobjc-framework-libdispatch==8.1
pyobjc-framework-LinkPresentation==8.1
pyobjc-framework-LocalAuthentication==8.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==8.1
pyobjc-framework-MailKit==8.1
pyobjc-framework-MapKit==8.1
pyobjc-framework-MediaAccessibility==8.1
pyobjc-framework-MediaLibrary==8.1
pyobjc-framework-MediaPlayer==8.1
pyobjc-framework-MediaToolbox==8.1
pyobjc-framework-Metal==8.1
pyobjc-framework-MetalKit==8.1
pyobjc-framework-MetalPerformanceShaders==8.1
pyobjc-framework-MetalPerformanceShadersGraph==8.1
pyobjc-framework-MetricKit==8.1
pyobjc-framework-MLCompute==8.1
pyobjc-framework-ModelIO==8.1
pyobjc-framework-MultipeerConnectivity==8.1
pyobjc-framework-NaturalLanguage==8.1
pyobjc-framework-NetFS==8.1
pyobjc-framework-Network==8.1
pyobjc-framework-NetworkExtension==8.1
pyobjc-framework-NotificationCenter==8.1
pyobjc-framework-OpenDirectory==8.1
pyobjc-framework-OSAKit==8.1
pyobjc-framework-OSLog==8.1
pyobjc-framework-PassKit==8.1
pyobjc-framework-PencilKit==8.1
pyobjc-framework-Photos==8.1
pyobjc-framework-PhotosUI==8.1
pyobjc-framework-PreferencePanes==8.1
pyobjc-framework-PushKit==8.1
pyobjc-framework-Quartz==8.1
pyobjc-framework-QuickLookThumbnailing==8.1
pyobjc-framework-ReplayKit==8.1
pyobjc-framework-SafariServices==8.1
pyobjc-framework-SceneKit==8.1
pyobjc-framework-ScreenSaver==8.1
pyobjc-framework-ScreenTime==8.1
pyobjc-framework-ScriptingBridge==8.1
pyobjc-framework-SearchKit==8.1
pyobjc-framework-Security==8.1
pyobjc-framework-SecurityFoundation==8.1
pyobjc-framework-SecurityInterface==8.1
pyobjc-framework-ServiceManagement==8.1
pyobjc-framework-ShazamKit==8.1
pyobjc-framework-Social==8.1
pyobjc-framework-SoundAnalysis==8.1
pyobjc-framework-Speech==8.1
pyobjc-framework-SpriteKit==8.1
pyobjc-framework-StoreKit==8.1
pyobjc-framework-SyncServices==8.1
pyobjc-framework-SystemConfiguration==8.1
pyobjc-framework-SystemExtensions==8.1
pyobjc-framework-UniformTypeIdentifiers==8.1
pyobjc-framework-UserNotifications==8.1
pyobjc-framework-UserNotificationsUI==8.1
pyobjc-framework-VideoSubscriberAccount==8.1
pyobjc-framework-VideoToolbox==8.1
pyobjc-framework-Virtualization==8.1
pyobjc-framework-Vision==8.1
pyobjc-framework-WebKit==8.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRAPL==0.2.3.1
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.28
pyserial==3.5
pysha3==1.0.2
PySimpleGUI==4.55.1
PySocks==1.7.1
pytesseract==0.3.7
python-chess==1.999
python-dateutil==2.8.2
python-docx==0.8.11
python-vlc==3.0.12118
pytube==11.0.1
pytweening==1.0.4
pytz==2022.1
pyu2f==0.1.5
PyVirtualDisplay==2.2
PyWavelets==1.2.0
pywebio==1.2.3
PyYAML==6.0
pyzmq==23.0.0
qdldl==0.1.5.post0
qtconsole==5.3.0
QtPy==2.1.0
reedsolo==1.5.4
regex==2022.9.13
requests==2.25.1
requests-oauthlib==1.3.1
retry-decorator==1.1.1
retrying==1.3.3
revChatGPT==0.3.1
rlp==2.0.1
rsa==4.7.2
rubicon-objc==0.4.2
rumps==0.3.0
schedule==1.1.0
scikit-image==0.19.2
scikit-learn==1.0.1
scipy==1.6.2
scp==0.14.4
scs==3.2.0
selenium==4.8.0
semantic-version==2.8.5
Send2Trash==1.8.0
sentencepiece==0.1.97
simple-term-menu==1.3.0
simpy==4.0.1
six==1.16.0
sklearn==0.0
sniffio==1.3.0
solc==0.0.0a0
sortedcontainers==2.3.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==2.2.1
spark-parser==1.8.9
speedtest-cli==2.1.3
SQLAlchemy==1.4.22
sqlparse==0.4.2
stringcase==1.2.0
tabulate==0.8.9
TatSu==5.6.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.6.0
tensorflow-estimator==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.15.0
tesseract==0.1.3
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.2.9
tinycss2==1.1.1
tls-client==0.1.8
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.61.2
traitlets==5.1.1
transformers==4.22.1
trie==2.0.0a5
trio==0.22.0
trio-websocket==0.9.2
typed-ast==1.4.2
types-pytz==2022.2.1.0
typing_extensions==4.4.0
ua-parser==0.10.0
uncompyle6==3.7.4
undetected-chromedriver==3.2.1
urllib3==1.26.4
user-agents==2.2.0
varint==1.0.2
waitress==2.1.2
wcwidth==0.2.5
web3==5.23.0
webencodings==0.5.1
websockets==9.1
Werkzeug==2.2.2
wfdb==4.0.0
widgetsnbextension==3.6.0
wireless==0.3.3
wisdom-tree==0.1.3
wrapt==1.12.1
wsproto==1.2.0
xdis==5.0.9
xport==3.6.1
yarg==0.1.9
yarl==1.6.3
youtube-dl==2021.12.17
zipp==3.7.0
zope.interface==5.4.0
